header {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.3em;
    .brand {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .user {
      display: flex;
      justify-content: center;
      align-items: center;
      &-profile {
        &-title {
          font-style: italic;
        }
        &-name {
          font-weight: bold;
        }
      }
      &-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

main {
  .banner {
    width: 100%;
    padding: 3.5em 0;
    margin: 1em 0 3em 0;
    display: flex;
    justify-content: center;
    &-content {
      text-align: center;
    }
  }
  .joke-button {
    margin: 7em auto 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .joke-content {
    text-align: center;
  }
  .counter {
    text-align: center;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    &-like {
      width: 10%;
      padding: 20px;
      background-color: #4ee44e;
    }
    &-hate {
      width: 10%;
      padding: 20px;
      background-color: red;
    }
  }
}

footer {
  height: 20%;
  border-top: 1px solid #d2d2cf;
  .content {
    text-align: center;
    color: #949494;

    p {
      width: 60%;
      margin: 2em auto;
    }
  }
}
